<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/horizontal_materialize/assets/images/favicon.png">
    <title>选课系统主页面</title>
    <!-- bootstrap core css -->
    <link href="/static/horizontal_materialize/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist css -->
    <link href="/static/horizontal_materialize/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/horizontal_materialize/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/static/horizontal_materialize/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
          rel="stylesheet">
    <!--this page css - morris css -->
    <link href="/static/horizontal_materialize/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- custom css -->
    <link href="/static/horizontal_materialize/horizontal/css/style.css" rel="stylesheet">
    <!-- you can change the theme colors from here -->
    <link href="/static/horizontal_materialize/horizontal/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
    <!-- warning: respond.js doesn't work if you view the page via file:// -->
    <!--[if lt ie 9]>
    <script  src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border logo-center">
<!-- ============================================================== -->
<!-- preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewbox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">             <!-- logo icon --><b>
                    <!--you can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- dark logo icon -->
                    <img src="/static/horizontal_materialize/assets/images/logo-icon.png" alt="homepage"
                         class="dark-logo"/>
                    <!-- light logo icon -->
                    <img src="/static/horizontal_materialize/assets/images/logo-light-icon.png" alt="homepage"
                         class="light-logo"/>
                </b>
                    <!--end logo icon -->
                    <!-- logo text --><span>
                         <!-- dark logo text -->
                         <img src="/static/horizontal_materialize/assets/images/logo-text.png" alt="homepage"
                              class="dark-logo"/>
                        <!-- light logo text -->
                         <img src="/static/horizontal_materialize/assets/images/logo-light-text.png" class="light-logo"
                              alt="homepage"/></span> </a>
            </div>
            <!-- ============================================================== -->
            <!-- end logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- this is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- search -->
                    <!-- ============================================================== -->
                    <li class="nav-item hidden-sm-down search-box"><a
                            class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="输入搜索"> <a class="srh-btn"><i
                                class="ti-close"></i></a></form>
                    </li>
                    <!-- ============================================================== -->
                    <!-- messages -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown mega-dropdown"><a
                            class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="mdi mdi-view-grid"></i></a>
                        <div class="dropdown-menu scale-up-left">
                            <ul class="mega-dropdown-menu row">
                                <li class="col-lg-3 col-xlg-2 m-b-30">
                                </li>
                                <li class="col-lg-3 m-b-30">
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- end messages -->
                    <!-- ============================================================== -->
                </ul>
                <!-- ============================================================== -->
                <!-- user profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- comment -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="mdi mdi-message"></i>
                            <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                            <ul>
                                <li>
                                    <div class="drop-title">通知</div>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- end comment -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- messages -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="mdi mdi-email"></i>
                            <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                        </a>
                        <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">

                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- end messages -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="/static/horizontal_materialize/assets/images/users/1.jpg" alt="user"
                                class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img
                                                src="/static/horizontal_materialize/assets/images/users/1.jpg"
                                                alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{ current_user.username }}</h4>
                                            <p class="text-muted">{{ current_user.email }}</p><a href="profile.html"
                                                                                                 class="btn btn-rounded btn-danger btn-sm">查看个人资料</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-power-off"></i>退出</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- Language -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">PERSONAL</li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span
                                class="hide-menu">主面板</span></a>
                        <ul aria-expanded="false" class="collapse">
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span
                                class="hide-menu">课程管理</span></a>
                        <ul aria-expanded="false" class="collapse">
                        </ul>
                    </li>
                    <li class="three-column">
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span
                                class="hide-menu">实验室管理</span></a>
                        <ul aria-expanded="false" class="collapse">
                        </ul>
                    </li>
                    <li class="nav-devider"></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    {#                    <h3 class="text-themecolor">概览</h3>#}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2018-2020 zerkvii@gmail.com</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/horizontal_materialize/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/horizontal_materialize/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/static/horizontal_materialize/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/horizontal_materialize/horizontal/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/static/horizontal_materialize/horizontal/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/horizontal_materialize/horizontal/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/static/horizontal_materialize/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/static/horizontal_materialize/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/static/horizontal_materialize/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="/static/horizontal_materialize/horizontal/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<script src="/static/horizontal_materialize/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="/static/horizontal_materialize/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="/static/horizontal_materialize/assets/plugins/d3/d3.min.js"></script>
<script src="/static/horizontal_materialize/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/static/horizontal_materialize/horizontal/js/dashboard1.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<!-- Editable -->

<script src="/static/horizontal_materialize/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

</body>

</html>
